@import "null.css";
@import "fonts.css";
/* ======== Тело страницы ========*/
body {
    font-family: "Caveat";
    font-size: 30px;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    min-height: 100%;
}

.wrapper > * {
    /* border: 3px solid #000; */
}

.main_content {
}

/* ======== Шапка ========*/

.title {
    padding: 10px 0px 10px 0;
    background-color: #7481b9;
    margin: 20px 0;
    border-radius: 15px;
    border: 3px solid #4a568a;
    box-shadow: inset 3px 3px 50px 2px rgb(0, 0, 0);
}

.title h1 {
    font-family: "Cormorant Infant", serif;
    font-size: 42px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

/* ======== Навигация ========*/

.navigation {
    margin: 0 0 20px 0;
    padding-left: 30px;
}

.text_bold {
    font-weight: 700;
}

a {
    color: cadetblue;
}

li > a {
    color: cornflowerblue;
}

.hover a:hover {
    color: black;
    font-weight: 700;
}

/* ======== Общие классы ========*/

.image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.content__block {
    border: 3px solid #4a568a;
    border-radius: 15px;
    margin: 25px 0px;
    padding: 0px 20px;
    box-shadow: 5px 5px 30px 2px;
}

/* ======== Блоки историй ========*/

h2 {
    font-family: "Marck_Script";
    font-size: 36px;
    text-align: center;
    color: #4a568a;
    font-weight: 700;
    padding: 10px 0px;
}

.one_story {
    text-align: justify;
}

.two_story {
    text-align: justify;
}

.two_story,
.four_story {
    margin-bottom: 20px;
}

.image__pizza {
    max-width: 32%;
    padding: 20px 0;
    /* display: block;
    margin: 0 auto; */
}

.image__gif {
    max-width: 100%;
}

/* ======== Footer блок ========*/

.back-to-navigation {
    font-size: 26px;
    text-align: right;
    padding: 20px 0;
}

.footer {
    font-size: 16px;
    text-align: left;
    font-weight: 700;
}
